:root {
	--primary: #505050;
	--secondary-font: Arial, sans-serif;
}

* {
	margin: 0;
	font-family: 'Share Tech Mono', monospace;
	font-size: 16pt;
	color: #fff;

}

body {
	width: 100vw;
	height: 100vh;
}
